<section aria-labelledby="about-logo" class="team__box about__logo">
  <h2 id="about-logo" class="team__heading">
    Creative common The Webster logo
  </h2>
  <div class="line"></div>
  <p class="member__job text-color text-padding">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ullam autem
    nesciunt similique, itaque molestias sed harum officia aperiam expedita
    fugiat ducimus blanditiis soluta maiores!
  </p>
  <img
    class="logo__competition"
    src="images/The-webster-logo-black.svg"
    alt="logo"
  />
</section>
<hr />
<section aria-labelledby="about-logo" class="team__box about__logo">
  <h2 id="about-logo" class="team__heading">
    See the past The Webster conference
  </h2>
  <div class="line"></div>
  <p class="member__job text-color text-padding">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ullam autem
    nesciunt similique, itaque molestias sed harum officia aperiam expedita
    fugiat ducimus blanditiis soluta maiores!
  </p>
  <div class="conferences">
    <div class="conference conference1">
      <h6 class="member__name">2020</h6>
      <p class="member__job">The Webster conference in Cape Town</p>
    </div>
    <div class="conference conference2">
      <h6 class="member__name">2020</h6>
      <p class="member__job">The Webster conference in Cape Town</p>
    </div>
  </div>
</section>
