<div class="container">
  <div class="top-bar">
    <ul class="top-bar__social-media">
      <li>
        <a href="#"
          ><img
            class="social-media__icon"
            src="images/twitter.svg"
            alt="twitter logo"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="social-media__icon"
            src="images/linkedin.svg"
            alt="Linkedin logo"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="social-media__icon"
            src="images/github.svg"
            alt="git hub logo"
        /></a>
      </li>
    </ul>
    <ul class="bar__nav">
      <li><a class="top-bar__link" href="#">English</a></li>
      <li><a class="top-bar__link" href="#">My Page</a></li>
      <li><a class="top-bar__link" href="#">Log Out</a></li>
    </ul>
  </div>
  <div class="hamburger">
    <div class="hamburger__bar bar1"></div>
    <div class="hamburger__bar bar2"></div>
    <div class="hamburger__bar bar3"></div>
  </div>
  <header class="header">
    <a class="logo__box" href="#"
      ><img class="logo" src="images/The-webster-logo-black.svg" alt="logo" />
      <p class="nav__link">Web Designing<br />Company</p>
    </a>
    <nav>
      <ul class="nav-bar">
        <li><a class="nav__link" href="#">Home</a></li>
        <li><a class="nav__link" href="#">About</a></li>
        <li><a class="nav__link" href="#">Team</a></li>
        <li><a class="nav__link" href="#">Blog</a></li>
        <li><a class="nav__link highlight" href="#">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <section aria-labelledby="hero-heading" class="hero">
    <p class="tagline">"Make your website A crowd puller "</p>
    <h1 id="hero-heading" class="text-gradient">
      LET'S WORK TOGETHER TO BRING YOUR VISION TO LIFE
    </h1>
    <p class="intro text-color">
      The Webster is a trusted, full-service marketing agency based in Durban.
      Our goal is to nurture your vision and provide innovative, custom
      solutions for all your marketing needs.
    </p>
    <p class="working-hours text-color">Monday to friday (9am to 5pm)</p>
    <p class="address text-color">@ gsmalik030@gmail.com</p>
  </section>
</div>
