<section aria-labelledby="partners" class="partners__box">
  <h2 id="partners" class="program__heading">My Partners</h2>
  <div class="line"></div>
  <ul class="partners">
    <li>
      <h5 class="partners__name">HostAfrica</h5>
    </li>
    <li>
      <h5 class="partners__name">mWeb</h5>
    </li>
    <li>
      <h5 class="partners__name">MongoDB</h5>
    </li>
    <li>
      <h5 class="partners__name">Xneelo</h5>
    </li>
    <li>
      <h5 class="partners__name">DomainsZA</h5>
    </li>
  </ul>
</section>
