<section aria-labelledby="program" class="program__box">
  <h2 id="program" class="program__heading">Main Program</h2>
  <div class="line"></div>
  <div class="program">
    <article class="card">
      <div class="card__group">
        <img class="card__img" src="images/design.svg" alt="Design Logo" />
        <h4 class="card__heading">Designing</h4>
      </div>
      <p class="card__text">
        We believe we can find a unique, customized solution for any brand,
        large or small.
      </p>
    </article>
    <article class="card">
      <div class="card__group">
        <img
          class="card__img"
          src="images/development.svg"
          alt="Development Logo"
        />
        <h4 class="card__heading">Development</h4>
      </div>
      <p class="card__text">
        Let our team help you build the foundation of an unforgettable brand.
      </p>
    </article>
    <article class="card">
      <div class="card__group">
        <img
          class="card__img"
          src="images/marketing.svg"
          alt="Marketing Logo"
        />
        <h4 class="card__heading">Marketing</h4>
      </div>
      <p class="card__text">
        Turn your clicks into leads with Brand Vision’s custom ad campaigns.​
      </p>
    </article>
    <article class="card">
      <div class="card__group">
        <img class="card__img" src="images/seo.svg" alt="seo Logo" />
        <h4 class="card__heading">SEO</h4>
      </div>
      <p class="card__text">
        Our team of designers, and content creators can help you increase you
        SEO rank.
      </p>
    </article>
    <article class="card">
      <div class="card__group">
        <img class="card__img" src="images/help.svg" alt="Support Logo" />
        <h4 class="card__heading">Support</h4>
      </div>
      <p class="card__text">
        Let our experts help you to make your Ordinary dream, Extraordinary.
      </p>
    </article>
  </div>
  <a class="get-started" href="#"
    ><button class="button">Get Started</button></a
  >
  <a class="program__link" href="#">See the whole Program</a>
</section>
