<section aria-labelledby="team" class="team__box">
  <h2 id="team" class="team__heading">Our team</h2>
  <div class="line"></div>
  <div class="team">
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
    <article class="team-member">
      <img class="avatar__img" src="images/img1.jpg" alt="Muhammad Ali" />
      <div class="member__info">
        <h4 class="member__name">Muhammad Ali</h4>
        <p class="member__education">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="line-break"></div>
        <p class="member__job text-color">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>
  </div>
  <button class="button button--accent">
    <span>More</span
    ><img class="button__icon" src="images/down-arrow.svg" alt="Down Arrow" />
  </button>
</section>
