<div class="top-bar">
    <ul class="top-bar__social-media">
        <li><a href="#"><img class="social-media__icon" src="images/twitter.svg" alt="twitter logo"></a></li>
        <li><a href="#"><img class="social-media__icon" src="images/linkedin.svg" alt="Linkedin logo"></a></li>
        <li><a href="#"><img class="social-media__icon" src="images/github.svg" alt="git hub logo"></a></li>
    
    </ul>
    <ul class="bar__nav">
        <li><a class="top-bar__link" href="#">English</a></li>
        <li><a class="top-bar__link" href="#">My Page</a></li>
        <li><a class="top-bar__link" href="#">Log Out</a></li>
    </ul>
</div>